/*
Theme URI: https://github.com/Surfing-Chef/Bourbon-WP
Author: Surfing-Chef
Author URI: https://github.com/Surfing-Chef
Description: This stylesheet contains adminstration panel styles and layout.
Version: 2.5
Text Domain: bourbon-wp
Tags: Responsive, Bourbon, Bitters, Neat, Sass, parallax
*/
