/**
 * Author: Surfing-Chef
 * Author URI: https://github.com/Surfing-Chef
 * Description: This stylesheet contains adminstration panel styles and layout.
 *
 * IMPORTANT! Custom styles will be deleted if the plugin is uninstalled/deleted.
 * The stylesheet and its content are only used by WordPress when the plugin is activated.
 * Although still in the plugin folder, WordPress will ignore custom styles if the plugin is not activated.
 * Be sure to back up the sc-style-admin.css file if changing themes or migrating WordPress, plugins or themes.

*/

/* Plugins */
.sc-plugin.sc_dark_weather {
  width: 250px;
}

.sc-plugin-form-row {
  display: block;
  position: relative;
  height: 4.5em;
}

.sc-plugin-form-row input {
  position: absolute;
  right: 0;
  top: -5px;
}

.sc_dark_weather .sc-plugin-form-label {

}

.sc_dark_weather .description  {
  display: block;
  line-height: 2.5em;
  font-size: .85em;
  color: gray;
  padding-left: 9em;
  text-transform: lowercase;
}
